/* global */
body {
	background-color: #a3c6f4;
}

iframe {
	display: block;
	border: none;
}

#container {
	background-color: white;
	border-bottom: dotted 1px black;
}

#header {
	height: 56px;
	border-bottom: dotted 1px black;
}

#sidebar {
	width: 150px;
	height: 560px;
	background-color: #f2f2f2;
	border-right: dotted 1px black;
}

#content {
	width: 560px;
}

#content-side {
	display: block;
	float: left;
	margin-right: 12px;
}

#footer {
	padding-top: 8px;
	border-top: dotted 1px black;
}

/* text styles */
h1,h2,p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

p {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 8px;
	text-align: justify;
}

h1 {
	padding: 8px;
	padding-left: 20px;
	margin-bottom: 12px;
	font-size: 16px;
	border-top: none;
	border-left: none;
	background-color: #00257e;
	color: white;
}

h2 {
	margin-top: 8px;
	padding-bottom: 4px;
	font-size: 14px;
}

hr {
	margin-top: 14px;
	border: none;
	border-bottom: dotted 1px black;
}